<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287469942395-5gc1p49io869rommebm8jcq9vifr78f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287469942395-5gc1p49io869rommebm8jcq9vifr78f4</string>
	<key>API_KEY</key>
	<string>AIzaSyB5BqP7XGkqdnO5laj_ooW3J_ZXL6TgKcI</string>
	<key>GCM_SENDER_ID</key>
	<string>287469942395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.iamken.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a1e24</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a1e24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287469942395:ios:b3f59f4435d8a9179054de</string>
</dict>
</plist>